__Imports__

In [1]:
import pandas as pd
import numpy as np

### __Data Preprocessing__

In [2]:
jokes_df = pd.read_excel('./data/jester-data-1.xls', sheet_name='jester-data-1-new')

In [3]:
jokes_df.index = [f'user_{i}' for i in range(len(jokes_df))]
jokes_df.columns = ['total'] + [f'J{i}' for i in range(1, 101)]

In [4]:
jokes_df = jokes_df.replace(99.0, np.nan)

In [5]:
jokes_df

,total,J1,J2,J3,J4,J5,J6,J7,J8,J9,...,J91,J92,J93,J94,J95,J96,J97,J98,J99,J100
user_0,100.0,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
user_1,49.0,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
user_2,48.0,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
user_3,91.0,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
user_4,100.0,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_24977,100.0,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
user_24978,91.0,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
user_24979,39.0,NaN,NaN,NaN,NaN,-7.77,NaN,6.70,-6.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_24980,37.0,NaN,NaN,NaN,NaN,-9.71,NaN,4.56,-8.30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_24981,72.0,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The sub-matrix including only __columns {5, 7, 8, 13, 15, 16, 17, 18, 19, 20} is dense__. Almost all users have rated those jokes.

In [6]:
sub_df = jokes_df.iloc[:, [5, 7, 8, 13, 15, 16, 17, 18, 19, 20]]
sub_df

              J5    J7    J8   J13   J15   J16   J17   J18   J19   J20
user_0     -2.38 -0.73 -5.34  4.42  4.56 -0.97  4.66 -0.68  3.30 -1.21
user_1      9.03  9.03  9.27  9.37 -6.36 -6.89 -7.86  9.03  9.03  9.03
user_2      1.80 -2.82  6.21  6.31 -7.23 -6.65  1.17 -6.60 -3.64 -2.09
user_3      1.36  7.04  4.61 -3.93 -2.33 -9.66  2.72 -1.36  2.57  4.51
user_4     -7.09 -8.69 -0.87 -5.00  0.49 -8.93 -3.69 -2.18 -2.28 -6.12
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
user_24977  3.20 -8.79 -0.53 -7.14 -3.50 -8.20 -3.98 -9.22 -0.15 -6.46
user_24978  0.87 -3.50  5.78 -7.48 -1.75  6.60  3.54  1.50  7.67 -0.44
user_24979 -7.77  6.70 -6.75 -6.46 -6.80 -6.41 -6.99  7.23  6.75 -6.99
user_24980 -9.71  4.56 -8.30 -9.47  3.45 -0.92 -4.51 -4.13 -5.73 -9.51
user_24981 -2.28  2.33  4.56 -8.20 -8.83 -7.77  5.49  1.36 -9.32  7.04

[24982 rows x 10 columns]

In [7]:
nonans_df = jokes_df.query('total == 100')
nonans_df

,total,J1,J2,J3,J4,J5,J6,J7,J8,J9,...,J91,J92,J93,J94,J95,J96,J97,J98,J99,J100
user_0,100.0,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
user_4,100.0,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
user_6,100.0,6.84,3.16,9.17,-6.21,-8.16,-1.70,9.27,1.41,-5.19,...,7.23,-1.12,-0.10,-5.68,-3.16,-3.35,2.14,-0.05,1.31,0.00
user_7,100.0,-3.79,-3.54,-9.42,-6.89,-8.74,-0.29,-5.29,-8.93,-7.86,...,4.37,-0.29,4.17,-0.29,-0.29,-0.29,-0.29,-0.29,-3.40,-4.95
user_10,100.0,1.31,1.80,2.57,-2.38,0.73,0.73,-0.97,5.00,-7.23,...,1.46,1.70,0.29,-3.30,3.45,5.44,4.08,2.48,4.51,4.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_24957,100.0,-2.91,-1.89,-2.86,-1.99,-7.52,-4.66,-7.52,6.02,-3.83,...,-5.68,-5.68,-2.82,-4.61,-4.37,-3.93,-0.15,-0.87,-1.99,-1.80
user_24961,100.0,4.85,3.83,4.13,-5.53,2.14,-4.66,0.10,-1.75,0.44,...,-8.30,-9.56,-5.34,-3.50,2.04,-6.31,-4.42,3.06,-1.26,-6.36
user_24966,100.0,-0.29,-0.29,-0.29,-0.29,-1.84,0.10,-3.01,-0.29,0.49,...,0.29,0.87,3.79,0.68,0.87,4.17,0.29,1.46,-0.29,-0.68
user_24970,100.0,4.17,4.17,9.03,-0.29,2.04,3.79,7.86,-7.86,4.17,...,-0.68,7.28,4.95,-9.42,3.20,-2.23,5.92,-0.29,-0.29,4.37
user_24977,100.0,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43

We employ __Collaborative Filtering__ using __Autoencoders for Collaborative Filtering__